@import "ui-variables";

dafny-workbench-status {
  .dafny-status {
    margin-top: 1px;
    &.running {
      color: @text-color-info;
      cursor: wait;
      margin-bottom: 5px;
      vertical-align: middle;
    }
    &.stopped {
      color: @text-color-warning;
    }
    &.no-attempt {
      color: @text-color-warning;
    }
    &.successful {
      color: @text-color-success;
    }
    &.unsuccessful {
      color: @text-color-error;
    }
  }
}
